.projectCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: var(--space-4);

    &.vertical {
        flex-direction: column;
        align-items: start;
    }


}

/* .projectCardContainer:hover .arrowBtn {
  color: var(--primary-color);
} */

.projectCardContainer {
    &:hover {
        .projectCard {
            .projectContent {
                .projectInfos {
                    .projectTitle {
                        color: var(--primary-color);
                    }
                }
                .arrowBtn {
                    background-color: var(--primary-color-900);
                    border: 1px solid var(--primary-color-750);

                    .projectLinkIcon {
                        color: var(--primary-color);
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
}

.projectTitle {
    transition: all 0.1s ease-out;
}

.projectImgContainer {
    padding-inline: var(--space-5);
    padding-block: var(--space-1);
    background: var(--secondary-gradient);
    border-radius: var(--border-radius);
    height: 100%;
    max-height: 90px;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    display: flex;

    &.vertical {
        max-height: 300px;
        width: auto;
        max-width: none;
    }
}

.projectImg {
    object-fit: contain;
}

.projectContent {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: var(--space-4);
}

.projectInfos {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

.arrowBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--black-900);
    width: 44px;
    min-width: 44px;
    max-width: 44px;
    height: 44px;
    aspect-ratio: 1;

    .projectLinkIcon {
        transition: all 0.15s ease-out;
    }
}

.mobileBtn {
    display: none;
    gap: var(--space-2);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    border-radius: 24px;
    background-color: var(--primary-color-900);
    border: 1px solid var(--primary-color-750);
    color: var(--primary-color);
}

.projectLinkIcon {
    width: 32px;
    min-width: 32px;
    max-width: 32px;
    aspect-ratio: 1;
    color: var(--black);
}

@media (min-width: 1025px) {
    .projectCardContainer {
        height: 100%
    }
}

@media (max-width: 1024px) {

    .projectCard {
        height: auto;
    }

    .arrowBtn {
        display: none;
    }

    .mobileBtn {
        display: flex;
    }
}