/* Base settings */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Couleurs */
  /* --primary-color: #F48734; */
  /* --primary-color-500: #EEC4A5;
  --primary-color-750: #F8E8DC;
  --primary-color-800: #fcf5f0;
  --primary-color-900: #FEFAF7; */
  /* --secondary-gradient: linear-gradient(354deg, rgba(168, 207, 237, 1) 0%, rgba(235, 243, 249, 1) 100%);
  --secondary-color: #A8CFED;
  --secondary-color-250: #e4eef7;
  --secondary-color-500: #EBF3F9;
  --secondary-color-900: #F5F8FB; */
  /* --primary-gradient: -webkit-linear-gradient(#A478E8, #516CF7);
  --primary-color: #516CF7;
  --primary-color-500: #b8c2f6;
  --primary-color-750: #dee3f7;
  --primary-color-800: #ebedf6;
  --primary-color-900: #f6f7fd;
  --secondary-gradient: linear-gradient(354deg, rgba(168, 207, 237, 1) 0%, rgba(235, 243, 249, 1) 100%);
  --secondary-color: #A478E8;
  --secondary-color-250: #ccb4ef;
  --secondary-color-500: #f3ebff;
  --secondary-color-900: #f1eef6; */
  --primary-gradient: -webkit-linear-gradient(120deg, #A478E8, #516CF7);
  --secondary-color: #516CF7;
  --secondary-color-500: #b8c2f6;
  --secondary-color-750: #dee3f7;
  --secondary-color-800: #ebedf6;
  --secondary-color-900: #f6f7fd;
  --secondary-gradient: -webkit-linear-gradient(120deg, #c6cffe 0%, #f6f7fd 100%);
  --primary-color: #A478E8;
  --primary-color-250: #ccb4ef;
  --primary-color-500: #f6f0ff;
  --primary-color-900: #f6f2ff;
  --white: hsl(0, 0%, 100%);
  --black: #2B2C2E;
  --black-500: #4A4A4A;
  --black-900: #E9E1DD;

  /* Typographie */
  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 20px;
  --font-size-6: 24px;
  --font-size-7: 34px;

  /* Hauteur de ligne */
  --line-height-p: 25px;

  /* Espacements */
  --space-1: 8px;
  --space-2: 12px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 48px;
  --space-7: 56px;
  --space-8: 80px;
  --space-9: 180px;

  /* Bordures */
  --border-radius: 16px;

  /* Ombres */
  --shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.1);

  /* Breakpoints */
  --is-mobile: false;

  @media (max-width: 1023px) {
    --is-mobile: true;
  }

  @media (max-width: 768px) {
    --font-size-1: 10px;
    --font-size-2: 12px;
    --font-size-3: 14px;
    --font-size-4: 16px;
    --font-size-5: 18px;
    --font-size-6: 20px;
    --font-size-7: 24px;

    --space-1: 4px;
    --space-2: 10px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 24px;
    --space-6: 32px;
    --space-7: 48px;
    --space-8: 56px;
    --space-9: 80px;

    --border-radius: 10px;
  }
}

/* Global reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100svh;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-funnel-display);
  color: var(--black);
  background-color: var(--secondary-color-900);
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
  color: var(--secondary-color);
}

ul {
  list-style: none;
}

p {
  line-height: var(--line-height-p);
  color: var(--black-500);
  max-width: 600px;
}

label {
  font-family: var(--font-climate-crisis);
  /* font-family: var(--font-caveat); */

  font-variation-settings: "YEAR" 1985;
}

svg {
  display: block;
  min-height: min-content;
}