.contactGrid {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--space-3);
}

.contactLinks {
    grid-column: span 5;
    gap: var(--space-7);
    justify-content: space-between;
}

.contactFormCell {
    grid-column: span 7;
    grid-row: span 2;
    gap: var(--space-7);
}

.cellHead {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

.orange {
    color: var(--secondary-color);
    /* background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.contactImg {
    grid-column: span 5;
    padding: 0 !important;
    flex-flow: column-reverse;
}

.bye {
    object-fit: contain;
    height: 300px;
}


@media (max-width: 1024px) {
    .contactGrid {
        grid-template-rows: auto;
    }

    .contactLinks {
        grid-column: span 6;
    }

    .contactFormCell {
        grid-column: span 6;
    }

    .contactImg {
        grid-column: span 6;
    }
}

@media (max-width: 768px) {
    .contactGrid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .contactLinks {
        grid-column: span 6;
    }

    .contactFormCell {
        grid-column: span 6;
    }

    .bye {
        height: 200px;
    }
}