.shadowWrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.shadowWrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 100%;
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(31, 121, 139, 0));
    z-index: 1;
    overflow: hidden;
}

.shadowWrapper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    height: 100%;
    background: linear-gradient(to left, rgb(255, 255, 255), rgba(31, 121, 139, 0));
    z-index: 1;
}

.marqueeContainer {
    display: flex;
    width: max-content;

    &.stopsOnHover {
        &:hover {
            * {
                animation-play-state: paused;
            }
        }
    }
}

.marquee {
    display: flex;
    align-items: center;

    &.toLeft {
        animation: marqueeToLeft 30s linear infinite;
    }

    &.toRight {
        translate: -100% 0;
        animation: marqueeToRight 30s linear infinite;
    }
}

@keyframes marqueeToLeft {
    to {
        transform: translateX(-100%);
    }
}

@keyframes marqueeToRight {
    to {
        transform: translateX(100%);
    }
}