.detailsGrid {
    display: grid;
    grid-column: 1 / span 12;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--space-3);
    position: relative;
}

.pinWrapper {
    position: relative;
    grid-column: 1 / span 4;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.projectPin {
    /* grid-column: 1 / span 4; */
    width: 100%;
    height: calc(100svh - var(--space-3) * 2);
    justify-content: space-between;
    position: relative;
    /* inset: auto; */

    /* position: sticky; */
}

.pinHead {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
}

.backLink {
    display: flex;
    align-items: center;
    gap: var(--space-2);
    color: var(--black-500);
}

.pinContent {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
}

.projectLink {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

.link {
    color: var(--primary-color)
}

.pinFooter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--secondary-color-900);
    border-radius: var(--border-radius);
    /* border: 1px solid var(--primary-color-750); */
    width: 100%;
    gap: var(--space-3);
    padding: var(--space-3);
}

.pinFooterCell {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

.projectDetails {
    grid-column: span 8;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-3);
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: var(--space-2);
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    background: var(--secondary-gradient);
    max-height: 360px;
    gap: var(--space-4);

    &.fullWidth {
        grid-column: span 2;
    }

    * {
        max-height: 100%;
        object-fit: contain;
    }
}

.descriptionBox {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-6);
    height: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
}

.bulletPointBox {
    display: flex;
    flex-direction: column;
    padding: var(--space-4);
    gap: var(--space-3);
    border-radius: var(--border-radius);
    border-color: var(--primary-color-750);
    background-color: var(--secondary-color-500);
}

.techBox {
    grid-column: span 2;
}

.techList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-3);
}

@media (max-width: 1024px) {
    .pinWrapper {
        grid-column: 1 / span 5;
    }

    .projectDetails {
        grid-column: span 7;
    }

    .descriptionBox {
        grid-template-columns: 1fr;
    }

    .fullWidth {
        flex-wrap: wrap;
        max-height: none;

        * {
            width: 45%;
        }
    }

    .techList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .pinWrapper {
        grid-column: 1 / span 12;
    }

    .projectDetails {
        grid-column: span 12;
    }

    .projectPin {
        height: auto;
        gap: var(--space-8);
    }

    .imgContainer {
        background: none;
    }

    .techList {
        grid-template-columns: 1fr;
    }
}