.hero {
  grid-column: 1 / span 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: var(--space-9);
  gap: var(--space-6);
}

.disponibility {
  color: var(--black-500);
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.orange {
  color: var(--primary-color);
}

.heroSide {
  grid-column: span 4;
  display: flex;
  gap: var(--space-3);
  flex-direction: column;
}

.degree {
  padding-bottom: 0;
}

.degreeAvatar {
  object-fit: contain;
  height: 200px;
}

.cellHead {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.collabsHead {
  padding-inline: var(--space-4);
}

.collaborations {
  padding-inline: 0;
}

.collab {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.collabImg {
  height: 40px;
  width: min-content;
  object-fit: contain;
}

.collabName {
  font-weight: bold;
}

.projectsHeading {
  grid-column: 1 / span 5;
  padding-bottom: 0;
  padding-inline: 0;
  align-items: center;
  justify-content: space-between;
}

.projectsTitle {
  padding-inline: var(--space-4);
}

.thumbsUp {
  height: 300px;
  width: min-content;
}

.projectsList {
  grid-column: span 7;
  display: flex;
  gap: var(--space-3);
  flex-direction: column;
  height: 100%;
}

.skills {
  padding-inline: 0;
}

.skill {
  display: flex;
  align-items: center;
  font-size: var(--font-size-5);
  font-family: var(--font-climate-crisis);
  color: var(--black);
  justify-content: center;
}

.skillDivider {
  width: 1rem;
  height: 1rem;
  animation: skillDivider 5s linear infinite;
}

@keyframes skillDivider {
  to {
    transform: rotate(360deg);
  }
}

.techSection {
  justify-content: space-between;
}

.technologies {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  gap: var(--space-3);

  * {
    grid-column: span 3;
  }

  .third {
    grid-column: span 2;
  }
}

/* .row {
  display: flex;
  gap: var(--space-3);
} */

.testimonialsSection {
  gap: var(--space-5);
  padding-inline: 0;
}

.testimonialsHead {
  padding-inline: var(--space-4);
}

.cardLayout {
  height: 100%;
}

@media (max-width: 1024px) {
  .hero {
    padding-right: var(--space-4);
    grid-column: 1 / span 7;
  }

  .heroSide {
    grid-column: span 5;
  }

  .third {
    grid-column: span 3 !important;
  }

  .full {
    grid-column: span 6 !important;
  }

  .thumbsUp {
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .thumbsUp {
    object-fit: contain;
    height: 200px;
  }
}