.techLink {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  border-radius: var(--border-radius);
  background-color: var(--secondary-color-900);
  padding: var(--space-2);
  width: 100%;
  cursor: pointer;

  &:hover {
    .techLogoContainer {
      transform: rotate(360deg);
    }
    .techInfos {
      .techLinkIconContainer {
        background-color: var(--white);
        border-color: var(--primary-color-750);

        .techLinkIcon {
          transform: rotate(45deg);
          color: var(--primary-color);
        }
      }
    }
  }
}

.techLogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--white);
  transition: all 0.2s ease-out;
}

.techLogo {
  height: 20px;
  min-height: 20px;
  max-height: 20px;
  width: 20px;
  min-width: 20px;
  max-width: 20px;
}

.techInfos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
}

.techLinkIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
  border-radius: 50%;
  border: 1px solid var(--secondary-color-250);
  transition: all 0.1s ease-out;
}

.techLinkIcon {
  height: 20px;
  min-height: 20px;
  max-height: 20px;
  width: 20px;
  min-width: 20px;
  max-width: 20px;
  transition: all 0.15s ease-out;
}